*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1B1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  margin: 133px 30px;
  max-height: 534px;
  display: grid;
  justify-content: end;
  align-items: end;
  grid-template-columns: 711px 399px;
  gap: 30px;
}

.result {
  grid-column: 1/2;
}

.result__video-container {
  position: relative;
  height: 386px;
  width: 100%;
  margin-block-start: 78px;
  margin-block-end: 16px;
}

.result__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  height: 54px;
  justify-content: space-between;
  align-items: center;
}

.search-form__fieldset {
  display: grid;
  gap: 5px;
  border: none;
  width: 225px;
  height: 100%;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.search-form__textfield {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.7);
  width: 100%;
  background-color: transparent;
  border: 1px solid #FFFF;
  border-inline-start: none;
  border-inline-end: none;
  appearance: none;
}

.content__details {
  grid-column: 2/3;
  max-height: 534px;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  margin-block-start: 26px;
  height: 298px;
  overflow-x: hidden;
}

.content__list-item {
  width: auto;
}

.content__list-item:not(:last-child) {
  margin-block-end: 30px;
}

.content__video-card {
  display: flex;
  min-height: 107px;
  justify-content: space-between;
  align-items: start;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
}

.content__video-card-description-container {
  width: 200px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-block-end: 6px;
  width: 200px;
  text-overflow: ellipsis; 
  white-space: nowrap; 
  overflow: hidden;
}

.content__video-card-description {
  display: flex;
  flex-grow: 1;
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  color: #FFFFFF;
}


