*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1B1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: grid;
  justify-content: end;
  align-items: end;
  grid-template-columns: 711px 399px;
  gap: 30px;
}

/* Видео */

.result {
  grid-column: 1/2;
  padding-block-end: 2px;
}

.result__video-container {
  position: relative;
  height: 386px;
  width: 100%;
  margin-block-start: 78px;
  margin-block-end: 16px;
  cursor: pointer;
}

.result__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Форма поиска */

.search-form {
  display: flex;
  height: 54px;
  justify-content: space-between;
  align-items: end;
}

.search-form__fieldset {
  display: grid;
  gap: 5px;
  border: none;
  height: 100%;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.search-form__textfield {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.7);
  width: 225px;
  background-color: transparent;
  border: 1px solid #FFFF;
  border-inline-start: none;
  border-inline-end: none;
  appearance: none;
}

.search-form__checkbox-list {
  display: flex;
  width: 212px;
  gap: 15px;
  cursor: pointer;
}

.search-form__label-text {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 19px;
  height: 19px;
  border: 1px solid #FFFFFF;
}

/* Детали */

.content__details {
  grid-column: 2/3;
}

.title {
  width: 260px;
  height: 210px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-block-end: 26px;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  height: 298px;
  overflow-x: hidden;
  padding: 0px 2px 2px;
}

.content__list-item {
  width: 100%;
}

.content__list-item:not(:last-child) {
  margin-block-end: 30px;
}

.content__video-card {
  display: flex;
  min-height: 107px;
  justify-content: space-between;
  align-items: start;
  padding: 2px;
  cursor: pointer;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
}

.content__video-card-description-container {
  width: 200px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-block-end: 6px;
  width: 200px;
  text-overflow: ellipsis; 
  white-space: nowrap; 
  overflow: hidden;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  color: #FFFFFF;
}

/* Кнопки */

.button {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  height: 34px;
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

.search-form__submit-button {
  width: 194px;
}

.more-button {
  width: 100%;
}

/* ФОКУС */

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFFFFF;
  outline-offset: 1px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #FFFFFF;
  outline-offset: 1px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFFFFF;
  outline-offset: 1px;
}


/* ЧЕКБОКС */

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #fff;
  inset: 1px;
}

.search-form__pseudo-checkbox:hover ~ .search-form__label-text, .search-form__label-text:hover {
  text-decoration: underline;
}

/* HOVER */

.button:hover {
  text-decoration: underline;
}

.content__card-link:hover {
  text-decoration: underline;
}

/* ACTIVE */

.button:active {
  background-color: #545050;
}

.search-form__textfield:active {
  border: none;
}